# Misc - who knows how these are organized
# rm quar xattr from downloaded files
alias dquar=" xattr -d com.apple.quarantine"

# G is mac specifc.
# May need to make this depend on OS if I ever use linux again :)
alias ll="ls -althG"
alias lll="ls -althG@"
alias ls="ls -G"
alias lsd="ls -d */"
alias cp="cp -i"
alias mv="mv -i"
alias df="df -h"
alias du="du -h"
alias pgrep="pgrep -a"
alias locate="locate -i"
alias grep="grep -i --color=auto"
alias gg="grep -i --color=auto"
alias cc="clear"
alias cd..="cd .."
alias path="echo $PATH"
alias taill="tail -1" #last is a system command
alias tt="ls -t | head"
alias cdd="cd .."
alias oo="open ."
cdl() { cd $1 && ls; }
alias today='date +"%m/%d/%y"'

# only works on mac but w/e
alias beep="echo -n -e \"\\a\\c\""

# Manage dot files with git
alias config='/usr/bin/git --git-dir=$HOME/.myconf/ --work-tree=$HOME'
alias confit=config
alias please='sudo !!'

# schenanigans
alias http="python -m SimpleHTTPServer"
alias rot13='tr "A-Za-z" "N-ZA-Mn-za-m"'
alias e='tr e E'

if [[ -z $(hash pbcopy) ]]; then
    alias ehh="echo -n ¯\\\_\(ツ\)_/¯ | pbcopy"
    alias rr="echo 'https://www.youtube.com/watch?v=dQw4w9WgXcQ' | pbcopy"
fi

# quickly edit this file :)
alias epro="vim ~/.aliases"
alias ss="source ~/.aliases"

# various locations
set_loc_alias(){
    loc=$1
    alias_string=$2

    if [[ -d "$loc" ]]; then
        alias $alias_string="cd $loc"
        alias "o"$alias_string="open $loc"
    fi
}

export TESS_DESK=~/Desktop/
export TESS_DROP=~/Dropbox/
export TESS_DOWNLOADS=~/Downloads/
export TESS_GIT=~/Github/
export TESS_NOTES=~/Notes/
export TESS_STICKY=~/Sticky/
export TESS_SAND=~/Sandbox/
export TESS_SCREENSHOTS=~/Screenshots/
export TESS_SCREEN=~/Screenshots/
export TESS_SCHOOL=~/School/

set_loc_alias $TESS_DESK "desk"
set_loc_alias $TESS_DOWNLOADS "down"
set_loc_alias $TESS_DROP "drop"
set_loc_alias $TESS_NOTES "notes"
set_loc_alias $TESS_SAND "sand"
set_loc_alias $TESS_SCHOOL "skl"
set_loc_alias $TESS_SCHOOL "school"
set_loc_alias $TESS_GIT "gitt"
set_loc_alias "~" "home"
set_loc_alias $TESS_SCREENSHOTS "shott"

if [[ -d "$HOME/bin" ]] ; then
    PATH="${PATH}:$HOME/bin"
fi
export PATH=/usr/local/opt/ruby/bin:$PATH
